---
import Layout from "../../layouts/Layout.astro";
import InstallDocs from "./install.md"
---

<Layout title="Ghostpad">
  <div class="w-full">
    <div class="container px-8 mt-4 mx-auto">
      <InstallDocs />
    </div>
  </div>
</Layout>
