---
import Layout from "../../layouts/Layout.astro";
import Contact from "./contact.md";
---

<Layout title="Ghostpad">
  <div class="w-full">
    <div class="container px-8 mt-4 mx-auto text-center">
      <Contact />
    </div>
  </div>
</Layout>