---

---

<div class="flex w-full justify-center py-4">
  <div class="max-w-3xl w-full grid grid-cols-1 md:grid-cols-2 gap-2 mx-8">
    <div class="p-4 border border-black rounded">
      <strong>Mobile First Customizable UI</strong>
      <div>Ghostpad was designed from the ground up to be one of the easiest ways to interact with an AI from your touch devices. It supports custom themes and in-app settings for local fonts or Google Fonts.</div>
    </div>
    <div class="p-4 border border-black rounded">
        <strong>Based on <a href="https://github.com/henk717/KoboldAI">KoboldAI</a></strong>
        <div>KoboldAI is the parent project of Ghostpad, from which it inherits most of its powerful features. Ghostpad is a React-based alternative which seeks to move quickly on experimental features while contributing mutually beneficial changes upstream.</div>
    </div>
    <div class="p-4 border border-black rounded">
        <strong>Two Way Speech</strong>
        <div>Turn on audio input to speak to your AI, or turn on audio output to enable text-to-speech features with customizable voices. If you enable both, you can enjoy a hands-free conversation. </div>
    </div>
    <div class="p-4 border border-black rounded">
        <strong>AutoAWQ Support</strong>
        <div>It is a goal of this project to quickly implement support for the latest model formats, accepting the potential stability tradeoffs. Ghostpad can be used to load quantized models in the GPTQ, ExLlama, ExllamaV2, or AWQ formats.</div>
    </div>
  </div>
</div>
