---

---

<div class="bg-gray-800 px-8 text-3xl text-white/80 flex justify-center">
  <div class="flex-grow max-w-3xl flex flex-col md:flex-row text-center">
    <div
      class="m-2 ml-0 h-60 md:h-96 my-10 flex flex-col justify-center flex-grow space-y-4 self-center md:text-left"
    >
      <div>Your private AI.</div>
      <div>Your rules.</div>
      <div>100% free forever.</div>
      <div class="text-sm w-64">
        Ghostpad is an interface that allows you to load and interact with text
        generation AI models on your PC.
      </div>
      <a
        class="w-64 py-2 bg-slate-200 text-black text-base text-center"
        href="/docs">Get Started</a
      >
    </div>
    <div class="flex justify-center md:self-end">
      <img alt="Mobile screenshot" src="/ss1.png" class="w-56 inline" />
    </div>
  </div>
</div>
